[submodule "browser-laptop"]
	path = browser-laptop
	url = https://github.com/brave/browser-laptop
	branch = ledger-spec-changes
[submodule "bat-native-ledger"]
	path = bat-native-ledger
	url = https://github.com/brave-intl/bat-native-ledger
